.recommendedVideo {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
}
.recommendedVideo > h1 {
  padding: 20px;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
}
